# alacritty/
awesome/
obs-studio/
alob/
arcolinux-betterlockscreen/
arcolinux-logo/
arcolinux-tweak-tool/
arcolinux-welcome-app/
arcologout/
Atom/
autostart/
BetterDiscord/
Bitwarden/
Bitwarden CLI/
BraveSoftware/
Caprine/
!Caprine/custom.css
catfish/
chromium/
coc/
!coc/extensions/package.json
code-oss/
Code/
Code - OSS/
configstore/
conky/
dconf/
discord/
discordcanary/
Electron/
facebookmessenger-nativefier-7ab88e/
# fish/
# flameshot/
font-manager/
# fontconfig/
galculator/
gconf/
geany/
GitKraken/
google-chrome/
google-chrome-unstable/
gpick/
gtk-2.0/
gtk-3.0/
htop/
!i3/config
!i3/scripts
inkscape/
kde.org/
Kvantum/
lazygit/
libreoffice/
llpp.conf
Mailspring/
Microsoft/
microsoft-edge/
Microsoft Teams - Preview/
mpv/
nano/
nautilus/
neofetch/
nitrogen/
nomacs/
nvim/
obmenu-generator/
# omf/
openbox/
pamac/
# pfetch/
plank/
# polybar/
pragha/
pulse/
qt5ct/
R/
# ranger/
# rofi/
# rstudio/
# RStudio/
session/
Skype/
skypeforlinux/
spotify/
spotify-tui/
spotifyd/
sublime-text-3/
systemd/
teams/
teams-for-linux/
termite/
Thunar/
tint2/
variety/
!variety/Favorites/
VirtualBox/
vivaldi/
vlc/
volumeicon/
xfce4/
baloofileinformationrc
baloofilerc
compton.log
dolphinrc
kconf_updaterc
kdeglobals
knfsshare
mimeapps.list
pavucontrol.ini
picom.conf
QtProject.conf
trashrc
Trolltech.conf
user-dirs.dirs
user-dirs.locale
yad.conf

ranger/scope.sh

ranger/plugins/__init__.py

ranger/plugins/__pycache__/__init__.cpython-39.opt-1.pyc

gitahead.com/GitAhead.conf

libfm/libfm.conf
# flameshot/flameshot.ini

BetterDiscord/emote_data.json
BetterDiscord/bdstorage.json

teams (deleted)/CS_skylib/CS_orgid#3Ab619d4fb-051c-4b3e-be91-4bc6bc515ed8.conf
teams (deleted)/CS_skylib/CS_shared.conf
